
<%- include('includes/header')%>
<body>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://lawsonblake.com/content/images/2020/05/Learn-to-Code.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</body>
<%- include('includes/footer')%>
