/* User Cell */
.user-cell {
  display: flex;
  align-items: center;
}

.user-cell img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Actions */
.actions {
  display: flex;
  gap: 5px;
}

/* Status */

.member-status {
  padding: 6px 10px;
  border-radius: 20px;

  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

/* ACTIVE */
.member-status.active {
  background-color: rgba(40, 167, 69, 0.1);
  color: var(--success, #28a745);
}

/* BLOCK */
.member-status.block {
  background-color: rgba(220, 53, 69, 0.1);
  color: var(--danger, #dc3545);
}

/* DELETE */
.member-status.delete {
  background-color: rgba(108, 117, 125, 0.1);
  color: var(--text-light, #6c757d);
}

/* Checkbox */
.select-all,
.select-row {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
